<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>

    <link rel="stylesheet" href="/src/output.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
  </head>
  <body>

    <div class="fixed left-2 top-2 w-64 h-full bg-gray-900">
      <a href="" class="flex items-center pb-4 border-b border-b-gray-500">
        <img
          src="https//placehold.co/60x60"
          alt=""
          <i=""></i>"
        />
        <span class="text-lg font-bold ml-3 text-white">Dispute Resolution Council</span>
        
      </a>
      <ul>
        <li class="mb-1">
            <a href="/adduser" class="flex items-center py-2 px-4 text-gray-300">
              <i class="ri-group-fill mr-3 text-lg"></i>
                Users
            </a>
            
        </li>
        <li class="mb-1">
            <a href="./drcmembers" class="flex items-center py-2 px-4 text-gray-300">
              <i class="ri-hand-coin-fill mr-3 text-lg"></i>
                Drc Members
            </a>
        </li>
        <li class="mb-1">
          <a href="" class="flex items-center py-2 px-4 text-gray-300">
              <i class="ri-home-3-line mr-3 text-lg"></i>
              Cases
          </a>
      </li>
      <li class="mb-1">
        <a href="" class="flex items-center py-2 px-4 text-gray-300">
           <i class="ri-attachment-line mr-3 text-lg"></i>
            Reports
        </a>
    </li>
    <li class="mb-1">
        <a href="/" class="flex items-center py-2 px-4 text-gray-300">
           <i class="ri-attachment-line mr-3 text-lg"></i>
            LogOut
        </a>
    </li>
       
      </ul>
    </div>
    <main class="class w-[calc(100%-256px)] ml-64">
        <div class="py-2 px-6 bg-white flex items-center">
            <button type="button" class="text-lg text-gray-600">
                <i class="ri-menu-line"></i>
            </button>
            <ul class="flex items-center text-sm">
                <li>
                    <a href="" class="text-gray-400 hover:text-gray-500">DashBoard</a>
                </li>
            </ul>
            <ul class="ml-auto flex items-center">
                <li class="mr-10">
                    <button type="button" class="text-gray-400  w-1 h-1 rounded flex items-center justify-center hover:bg-gray-50">
                        <input type="text" class="py-2 pr-4 pl-8 mr-15 bg-gray-100 w-36 outline-none border-gray-100 rounded-md text-sm focus:borderblue-500" placeholder="Search...">
                        <i class="ri-search-line pr-10"></i>
                    </button>
                    
                </li>
                
            </ul>
           
        </div>

    </main>

  </body>
</html>
