<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-image: url('./img/a\ hand\ drawn\ painting\ of\ a\ local\ Indian\ leader\ tal.jpg');
      /* Replace 'your-background-image.jpg'
      with the path to your background image */
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1 {
      padding-bottom: 360px;
      font-weight: bold;
    }

    .transparent-bg {
      background-color: rgba(204, 197, 197, 0.8);
      Adjust the alpha value (last parameter) for the desired opacity
    }
  </style>
  <title>Dispute Resolution Council</title>
</head>

<body> 
  <h1 class="text-4xl text-red-500 mb-8">Dispute Resolution Council</h1>

  <div class="bg-white p-8 rounded shadow-md w-96 transparent-bg">
    <table class="w-full">
      <tr>
        <td class="text-center">
          <a href="signup"
            class="block bg-blue-500 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue hover:bg-blue-600">Sign
            Up</a>
        </td>
        <td class="text-center">
          <a href="signin"
            class="block bg-blue-500 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue hover:bg-blue-600">Sign
            In</a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>