<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    main{
      width: 50%;
      margin: 50px auto;
      text-align: center;
    }
    table{
      margin: 50px auto;
    }
    table,th,td{
      border-collapse: collapse;
      border: 1px solid black;
    }
    th , td {
      padding: 5px;
    }
  </style>
</head>
<body>
    <div class="container">
      <a href="./adduser"> Add User </a>
      {{!-- <a href="./user"> Add User </a> --}}
    </div>
</body>
</html>