<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-100">

    <div class="container mx-auto text-center my-16">
      <a
        href="./adduser"
        class="block bg-blue-500 text-white py-2 px-4 rounded mb-4"
      >Add User only</a>
      <a
        href="./user"
        class="block bg-green-500 text-white py-2 px-4 rounded"
      >Add / Remove User</a>
    </div>

  </body>
</html>